*
{
    padding:0;
    margin:0
}
body
{
   font-family: sans-serif;
   background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/banner.jpg);
   background-size: cover;
}
.login-form
{
    width: 300px;
    padding: 30px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background:rgba(0,0,0,0.4);
    text-align: center;
}
.login-form h1
{
    color: rgb(231, 234, 236);
    text-transform: uppercase;
    font-weight: 200;
}
.login-form input
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(220, 11, 11);
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: rgb(238, 240, 242);
    border-radius: 24px;
    transition: 0.25px;
} 
.login-form input:focus
{
    
    width: 270px;
    border-color: rgb(22, 206, 31);
    
}
.login-form button 
{
    border: 0;
    background: none;
    display: block;
    border: 3px solid rgb(54, 221, 25);
    padding: 14px 10px;
    width: 220px;
    font-weight: bold;
    outline: none;
    color: rgb(224, 228, 232);
    text-align: center;
    margin: 20px auto;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}
.login-form button :hover
{
    background: rgb(127, 192, 22);
}
.home
{
    border: 0;
    background: none;
    display: block;
   
    padding: 14px 10px;
    width: 220px;
    font-weight: bold;
    outline: none;
    color: rgb(224, 228, 232);
    text-align: center;
    margin: 20px auto;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;

}